.map-container {
  position: relative;
  width: 100%;
  height: 84.5vh;
}

.places-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 300px;
}
